img { 
    width: 10%;
}

nav {
    background-color: aquamarine;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.about {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 5em;
}